<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CyberHunters</title>
        <link rel="stylesheet" href="style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    </head>
    <body>
    
    <header>
            <div class="interface">
                <div class="logo">
                    <a href=""> <img src="imagens/Logo.png" alt="logo" id="logo"></a>
                </div><!--Logo-->
       
                <h1 id="titulo">Cyber<span>Hunters</span></h1>

            <div class="Dan-Contato">
                <a href="/cadastrar"><button href="/cadastrar">Junte-se</button></a>
            </div>
        </div><!--interface-->
    </header>
    
    <main>
        <section class="topo">
            <div class="interface">
              <div class="flex">
                    <div class="topo-apresentacao">
                        <h1 class="titulo">CyberHunters</h1>
                        <h3 class="titulo"><span>Você foi escolhido!!!</span></h3>
                        <p>
                            Você desvendou nossa mensagem criptogradada e está apto a se juntar a causa.
                        </p>
                        <p>
                            Nós somos a CyberHunters, os Guardiões da Rede, uma coalizão de hackers éticos liderados pelo lendário DanHunter. Nosso objetivo é simples: desmantelar as estruturas de opressão, proteger os vulneráveis e garantir um futuro onde a tecnologia serve a todos, não apenas aos poderosos.
    
                            <div class="Dan-Contato">
                                <a href="/cadastrar"><button href="/cadastrar">Junte-se a nós</button></a>
                            </div>
                        </p>
    
                    </div>
                    <div class="img-topo">
                        <img src="imagens/CyberDan.png" alt="DanHunterz1" id="Dan">
    
                    </div>
              </div>  
            </div>
        </section><!--Topo-->
    
        <section class="especialidades">
            <div class="interface">
                <h2 class="titulo">Cyber <span>ESPECIALIDADES</span></h2>
                    <div class="flex">
                        <div class="especialidades-box">
    
                            <i class="bi bi-code-slash"></i>
                            <h3>Criptografia Avançada</h3>
                            <p>Mestre na criação e decifração de códigos complexos. CyberHunters pode quebrar criptografias avançadas usadas por megacorporações e governos, além de desenvolver sistemas de criptografia inquebráveis para proteger informações sensíveis.</p>
                        </div>
    
                        <div class="especialidades-box">
                            <i class="bi bi-eye-fill"></i>
                            <h3>Infiltração Digital</h3>
                            <p>Habilidade excepcional em invadir sistemas sem deixar rastros. CyberHunters consegue acessar redes fortemente protegidas, roubar informações cruciais e desativar defesas digitais.</p>
                        </div>
    
                        <div class="especialidades-box">
                            <i class="bi bi-shield-check"></i>
                            <h3>Contra-Hack</h3>
                            <p>Defesa contra ataques cibernéticos. CyberHunters consegue identificar, neutralizar e retaliar contra tentativas de invasão em tempo real.</p>
                        </div>
                    </div>
    
            </div>
        </section><!--especialidades-->
    
        <section class="sobre">
            <div class="interface">
                <div class="flex">
                    <div class="img">
                        <img src="imagens/CyberDan2.png" alt="Dan" id="Dan2">
                    </div>
                    <div class="txt">
                        <h2>Cyber "Dan" <span> Hunter</span></h2>
                        <p>No mundo distópico cyberpunk onde CyberHunter opera, as megacorporações controlam quase todos os aspectos da vida, da política à tecnologia. A cidade é um labirinto de arranha-céus escuros e ruas lotadas, onde a luz das telas holográficas contrasta com a escuridão das vielas esquecidas.</p>
                        <p>CyberHunter, um habilidoso hacker conhecido por suas ações ousadas em prol da justiça, enfrenta seu maior desafio: a BlackNet, uma organização clandestina de hackers que visa o caos digital e a dominação cibernética. BlackNet é responsável por diversos ataques devastadores a cidade.</p>
                        <div class="social">
                            <a href="" ><button><i class="bi bi-instagram"></i></button></i></a>
                            <a href=""><button><i class="bi bi-whatsapp"></i></button></i></a>
                            <a href=""><button><i class="bi bi-youtube"></i></button></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section><!--Sobre-->
    
        <section class="portifolio">
            <div class="interface">
                <h2 class="titulo">Cyber <span>CONQUISTAS</span></h2>
               <div class="flex">
                    <div class="img-port" style="background-image: url(imagens/imagem1.jpeg);">
                        <div class="overlay"><p>Um vírus cibernético conhecido como "Pandora" ameaça apagar todas as redes e sistemas de dados da cidade, causando um colapso total. CyberHunter descobre a origem do vírus e, com sua habilidade única em criptografia e programação, desenvolve uma contra-medida que neutraliza o vírus minutos antes da ativação, salvando a cidade de um desastre tecnológico.</p></div>
                    </div>
                    <div class="img-port" style="background-image: url(imagens/imagem2.jpeg);">
                        <div class="overlay"><p>OmniTech, uma megacorporação que controla grande parte da infraestrutura tecnológica da cidade, está envolvida em práticas antiéticas, como espionagem massiva, manipulação de dados e exploração de trabalhadores. CyberHunter consegue invadir seus sistemas, expondo documentos confidenciais que revelam suas atividades ilícitas. Isso leva a uma revolta pública e à queda da corporação, devolvendo algum poder ao povo.</p></div></div>
                    <div class="img-port" style="background-image: url(imagens/imagem3.jpeg);">
                        <div class="overlay"><p>O governo secreto está trabalhando no Projeto Genesis, um programa de controle mental através de implantes cibernéticos. CyberHunter descobre o projeto e consegue acesso ao banco de dados governamental, onde encontra provas irrefutáveis. Ele divulga essas informações para a população, desencadeando protestos em massa e a suspensão do projeto.</p></div></div>
               </div> 
            </div>
    </main>
    
    <footer>
        <div class="interface">
            <div class="line-footer">
                <div class="flex">
                    <div class="logo-footer">
                        <img src="imagens/Logo.png" alt="logo" id="logo2">
                    </div>
                    <div class="social">
                        <a href="" ><button><i class="bi bi-instagram"></i></button></i></a>
                        <a href=""><button><i class="bi bi-whatsapp"></i></button></i></a>
                        <a href=""><button><i class="bi bi-youtube"></i></button></i></a>
                    </div>
                    </div>
                </div><!--line-footer-->
            <div class="line-footer borda">
                <p><i class="bi bi-envelope"></i> <a href="mailto:contato@DanHunter.z.1">contato@DanHunter.z.1</a></p>
            </div><!--line-footer-->
        </div>
    </footer>
    </body>
    </html>