<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<head>
	<title>CyberHunters</title>
</head>
<body class="cadastro2">
	<h1>Boas-Vindos, <span>Guardiões da Liberdade Digital</span></h1>
	<p>
		Vocês decidiram atender ao chamado e unir-se à luta pela justiça digital. Bem-vindos aos CyberHunters, um grupo dedicado a proteger os inocentes, expor a corrupção e garantir que a tecnologia sirva a todos, não apenas aos poderosos.
	</p>
	<p>
Nossa Missão:
Vivemos em um mundo onde a liberdade é constantemente ameaçada por aqueles que controlam a tecnologia. Nossa missão é simples, mas desafiadora: combater a opressão digital, proteger os vulneráveis e garantir que a verdade sempre prevaleça.
<br>
Quem Somos:
Somos os Guardiões da Rede, um coletivo de hackers éticos liderados pelo lendário CyberHunter. Combinamos nossas habilidades únicas para realizar operações que fazem a diferença. Juntos, formamos a linha de frente contra aqueles que abusam do poder tecnológico.
<br></p>
<p>
O Que Esperamos de Você:
<br>
Dedicação: Nossa causa é nobre, mas a jornada é perigosa. Precisamos de seu comprometimento total.<br>
Inovação: Traga suas ideias mais ousadas. O caminho para a vitória está na criatividade e na inovação.<br>
Ética: Apesar de operarmos nas sombras, nossa bússola moral sempre aponta para a justiça. Nunca comprometa seus princípios.<br>
</p>
<p>
O Que Oferecemos:
<br>
Treinamento: Acesso a recursos e conhecimento para aprimorar suas habilidades.<br>
Tecnologia: Ferramentas avançadas para garantir o sucesso de nossas missões.<br>
Comunidade: Uma rede de aliados dedicados que compartilham sua visão de um mundo justo e livre.<br>
</p>
<p>
Próximos Passos:<br>

Integração: Familiarize-se com nossos protocolos de segurança e as ferramentas à sua disposição.<br>
Missões Iniciais: Participe de operações menores para se integrar à equipe e entender nossas estratégias.<br>
Contribuição: Compartilhe suas ideias e habilidades. Todos têm um papel crucial nesta luta.<br>
</p><p>
Nossa Promessa:
Em troca de sua lealdade e coragem, prometemos apoiá-lo em cada passo desta jornada. Juntos, enfrentaremos as maiores ameaças e lutaremos por um futuro onde a liberdade digital é garantida para todos.
</p><br>
<p>
"No vasto ciberespaço, a liberdade é um direito e a justiça é uma obrigação. Juntos, seremos a luz na escuridão." - DanHunter
</p><br>
<p>
Bem-vindos à resistência. Bem-vindos aos CyberHunters.

CyberHunter e os Guardiões da Rede

Estamos prontos para mudar o mundo. E você?
	</p>
</body>
</html>